<a href="https://colab.research.google.com/github/Tauqeer-Shaik/Data-Science/blob/main/data_munging_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Learning Objective

At the end of this experiment, you will be able to:

* perform Data preprocessing

## Problem Statement

We will be using district wise demographics, enrollments, and teacher indicator data to predict whether the literacy rate is high/ medium/ low in each district.

### Data Preprocessing

Data preprocessing is an important step in solving every machine learning problem. Most of
the datasets used with Machine Learning problems need to be processed / cleaned / transformed
so that a Machine Learning algorithm can be trained on it.

There are different steps involved in Data Preprocessing. These steps are as follows:

    1. Data Cleaning → In this step the primary focus is on
        - Handling missing data
        - Handling noisy data
        - Detection and removal of outliers
    
    2. Data Integration → This process is used when data is gathered from various data sources and data are combined to form consistent data.
    This data after performing cleaning is used for analysis.
    
    3. Data Transformation → In this step we will convert the raw data into a specified format according to the need of the model we are building.
    There are many options used for transforming the data as below:
        - Normalization
        - Aggregation
        - Generalization
        
    4. Data Reduction → Following data transformation and scaling, the redundancy within the data is removed and is organized efficiently.

## Exercise 1 - Load and Explore the Data (2 Marks)
1. We have three different files

  * Districtwise_Basicdata.csv
  * Districtwise_Enrollment_details_indicator.csv
  * Districtwise_Teacher_indicator.csv

  These files contain the necessary data to solve the problem. <br>

2. Load the files based on **team allocation** mentioned below. Observe the header level details, data records while loading the data.
  
  Hint : Use read_csv from pandas with [skiprows or header](https://towardsdatascience.com/import-csv-files-as-pandas-dataframe-with-skiprows-skipfooter-usecols-index-col-and-header-fbf67a2f92a) options.

3. Read the columns of the dataset and rename them if required.

  Hint : Rename column names (if any) using the following [link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

Team allocation for dataset selection

    Team A
        Districtwise_Basicdata.csv
        Districtwise_Enrollment_details_indicator.csv

    Team B
        Districtwise_Basicdata.csv
        Districtwise_Teacher_indicator.csv

In [ ]:
import pandas as pd

In [ ]:
print("Team A")
print("-----------")
basic_data = pd.read_csv('Districtwise_Basicdata.csv',header=1)
enroll_data = pd.read_csv('Districtwise_Enrollment_details_indicator.csv',header = 3)
print("Basic Data:")
print(basic_data.head())
print()
print("Enrollment Data:")
print(enroll_data.head())

Team A
-----------
Basic Data:
      Year  Statecd                                          statename  \
0  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
1  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
2  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
3  2012-13       28  ANDHRA PRADESH                                ...
4  2012-13       28  ANDHRA PRADESH                                ...

   distcd                                           distname  blocks  \
0    3501  ANDAMANS                                      ...       3
1    3503  MIDDLE AND NORTH ANDAMANS                     ...       3
2    3502  NICOBARS                                      ...       3
3    2801  ADILABAD                                      ...      52
4    2822  ANANTAPUR                                     ...      63

   clusters  villages  totschools  totpopulation   p_06_pop  p_urb_pop  \
0        16        83         212       237586.0   23616.05      55.89
1        13        76         181       105539.0   11651.51       2.60
2         8        42          58        36819.0    4226.82       0.00
3       356      1576        4983      2737738.0  295675.70      27.68
4       564       929        5188      4083315.0  427114.75      28.09

   sexratio  sexratio_06  growthrate  p_sc_pop  p_st_pop overall_lit  \
0     874.0        980.0       13.97      0.00      1.72        High
1     925.0        975.0       -0.07      0.00      0.72        High
2     778.0        961.0      -12.48      0.00     64.28        High
3    1003.0        942.0       10.04     17.82     18.09         Low
4     977.0        927.0       12.16     14.29      3.78         Low

   female_lit
0       84.52
1       79.39
2       70.70
3       51.99
4       54.31

Enrollment Data:
      Year  Statecd                                        State Name   \
0  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
1  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
2  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
3  2012-13       28  ANDHRA PRADESH                                ...
4  2012-13       28  ANDHRA PRADESH                                ...

   distcd                                           distname  Enr Govt1  \
0    3501  ANDAMANS                                      ...       3232
1    3503  MIDDLE AND NORTH ANDAMANS                     ...       3996
2    3502  NICOBARS                                      ...       1510
3    2801  ADILABAD                                      ...     135664
4    2822  ANANTAPUR                                     ...     145256

   Enr Govt2  Enr Govt3  Enr Govt4  Enr Govt5  ...  Rep C7  Rep C8  Muslim P  \
0     3359.0      10620        0.0       1027  ...       7       4      2539
1     3808.0       1162     1043.0       1397  ...       0       0       184
2      886.0        357        0.0        651  ...       5       2        62
3    53374.0       1266        0.0        226  ...      47      49     33747
4    71562.0       6867      870.0      92640  ...      84      72     34185

   Muslim Up  Muslim G P  Muslim G Up   Obc P  Obc Up  Obc G P  Obc G Up
0       1383        1263          690    2289    1437     1159       747
1        103          98           60    2100    1621     1066       825
2         34          33           14      17       5        6         0
3      13901       17216         7520  118300   62602    56425     30725
4      16310       17082         8465  188353  100391    90967     50266

[5 rows x 166 columns]

In [ ]:
basic_data.columns

Index(['Year', 'Statecd', 'statename', 'distcd', 'distname', 'blocks',
       'clusters', 'villages', 'totschools', 'totpopulation', 'p_06_pop',
       'p_urb_pop', 'sexratio', 'sexratio_06', 'growthrate', 'p_sc_pop',
       'p_st_pop', 'overall_lit', 'female_lit'],
      dtype='object')

In [ ]:
enroll_data.columns

Index(['Year', 'Statecd', 'State Name ', 'distcd', 'distname', 'Enr Govt1',
       'Enr Govt2', 'Enr Govt3', 'Enr Govt4', 'Enr Govt5',
       ...
       'Rep C7', 'Rep C8', 'Muslim P', 'Muslim Up', 'Muslim G P',
       'Muslim G Up', 'Obc P', 'Obc Up', 'Obc G P', 'Obc G Up'],
      dtype='object', length=166)

In [ ]:
print("Team B")
basic_data = pd.read_csv('Districtwise_Basicdata.csv', header=1)
teacher_indicator = pd.read_csv('Districtwise_Teacher_indicator.csv', skiprows=3)
print("Basic Data:")
print(basic_data.head())
print()
print("Teacher Indicator:")
print(teacher_indicator.head())

Team B
Basic Data:
      Year  Statecd                                          statename  \
0  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
1  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
2  2012-13       35  ANDAMAN & NICOBAR ISLANDS                     ...
3  2012-13       28  ANDHRA PRADESH                                ...
4  2012-13       28  ANDHRA PRADESH                                ...

   distcd                                           distname  blocks  \
0    3501  ANDAMANS                                      ...       3
1    3503  MIDDLE AND NORTH ANDAMANS                     ...       3
2    3502  NICOBARS                                      ...       3
3    2801  ADILABAD                                      ...      52
4    2822  ANANTAPUR                                     ...      63

   clusters  villages  totschools  totpopulation   p_06_pop  p_urb_pop  \
0        16        83         212       237586.0   23616.05      55.89
1        13        76         181       105539.0   11651.51       2.60
2         8        42          58        36819.0    4226.82       0.00
3       356      1576        4983      2737738.0  295675.70      27.68
4       564       929        5188      4083315.0  427114.75      28.09

   sexratio  sexratio_06  growthrate  p_sc_pop  p_st_pop overall_lit  \
0     874.0        980.0       13.97      0.00      1.72        High
1     925.0        975.0       -0.07      0.00      0.72        High
2     778.0        961.0      -12.48      0.00     64.28        High
3    1003.0        942.0       10.04     17.82     18.09         Low
4     977.0        927.0       12.16     14.29      3.78         Low

   female_lit
0       84.52
1       79.39
2       70.70
3       51.99
4       54.31

Teacher Indicator:
   statecd                                          statename  distcd  \
0       35  ANDAMAN & NICOBAR ISLANDS                     ...    3501
1       35  ANDAMAN & NICOBAR ISLANDS                     ...    3503
2       35  ANDAMAN & NICOBAR ISLANDS                     ...    3502
3       28  ANDHRA PRADESH                                ...    2801
4       28  ANDHRA PRADESH                                ...    2822

                                            distname  ac_year  tch_govt1  \
0  ANDAMANS                                      ...  2012-13        329
1  MIDDLE AND NORTH ANDAMANS                     ...  2012-13        305
2  NICOBARS                                      ...  2012-13        110
3  ADILABAD                                      ...  2012-13       4749
4  ANANTAPUR                                     ...  2012-13       5797

   tch_govt2  tch_govt3  tch_govt4  tch_govt5  ...  trn_tch_f2  trn_tch_f3  \
0        429       1097          0        127  ...         176         135
1        285        194         95        268  ...          85          40
2         95         56          0        135  ...          29          23
3       1788         38          0         22  ...         267           0
4       2879        209          8       6733  ...         726           0

   trn_tch_f4  trn_tch_f5  trn_tch_f6  trn_tch_f7  prof_trn_tch_r  \
0           0          22         103           0            2968
1           3          28          60           0            1249
2           0          17          46           0             430
3           0           0           8         248           16419
4           0         591           0           3           21487

   prof_trn_tch_p  days_nontch  tch_nontch
0             228           12         519
1             203            8         362
2              78           20          28
3             845           13         263
4             676           14        1185

[5 rows x 181 columns]

In [ ]:
basic_data.columns

Index(['Year', 'Statecd', 'statename', 'distcd', 'distname', 'blocks',
       'clusters', 'villages', 'totschools', 'totpopulation', 'p_06_pop',
       'p_urb_pop', 'sexratio', 'sexratio_06', 'growthrate', 'p_sc_pop',
       'p_st_pop', 'overall_lit', 'female_lit'],
      dtype='object')

In [ ]:
teacher_indicator.columns

Index(['statecd', 'statename', 'distcd', 'distname', 'ac_year', 'tch_govt1',
       'tch_govt2', 'tch_govt3', 'tch_govt4', 'tch_govt5',
       ...
       'trn_tch_f2', 'trn_tch_f3', 'trn_tch_f4', 'trn_tch_f5', 'trn_tch_f6',
       'trn_tch_f7', 'prof_trn_tch_r', 'prof_trn_tch_p', 'days_nontch',
       'tch_nontch'],
      dtype='object', length=181)

## Exercise 2  - Data Integration (3 Marks)

As the required data is present in different datasets, we need to **integrate both to make a single dataframe/dataset**.
  * For integrating the datasets, create a unique identifier for each row in both the dataframes so that it can be used to map the data in different files.
   
    * Combine year, state code, district code columns and form a new unique identifier column, refer to this [link](https://stackoverflow.com/questions/33098383/merge-multiple-column-values-into-one-column-in-python-pandas).
    * Set the identifier column as the index for each dataframe.

    * Integrate the dataframes using the above index
     
     Hint: For merging or joining the datasets, refer to this [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

**Example:** Data of the district Anantapur in Andrapradesh, which is present in different files should form a single row after integrating the datasets

In [ ]:
basic_data['unique_id'] = (basic_data['Year'].astype(str) + "_" +
                             basic_data['Statecd'].astype(str) + "_" +
                             basic_data['distcd'].astype(str))

enroll_data['unique_id'] = (enroll_data['Year'].astype(str) + "_" +
                              enroll_data['Statecd'].astype(str) + "_" +
                              enroll_data['distcd'].astype(str))

# Set the unique identifier as the index
basic_data.set_index('unique_id', inplace=True)
enroll_data.set_index('unique_id', inplace=True)

In [ ]:
# Merge the dataframes on the unique identifier
A_merged = basic_data.merge(enroll_data, on='unique_id', suffixes=('_basic', '_enrollment'))

print("Merged DataFrame for Team A:")
print(A_merged.head())

Merged DataFrame for Team A:
                Year_basic  Statecd_basic  \
unique_id
2012-13_35_3501    2012-13             35
2012-13_35_3503    2012-13             35
2012-13_35_3502    2012-13             35
2012-13_28_2801    2012-13             28
2012-13_28_2822    2012-13             28

                                                         statename  \
unique_id
2012-13_35_3501  ANDAMAN & NICOBAR ISLANDS                     ...
2012-13_35_3503  ANDAMAN & NICOBAR ISLANDS                     ...
2012-13_35_3502  ANDAMAN & NICOBAR ISLANDS                     ...
2012-13_28_2801  ANDHRA PRADESH                                ...
2012-13_28_2822  ANDHRA PRADESH                                ...

                 distcd_basic  \
unique_id
2012-13_35_3501          3501
2012-13_35_3503          3503
2012-13_35_3502          3502
2012-13_28_2801          2801
2012-13_28_2822          2822

                                                    distname_basic  blocks  \
unique_id
2012-13_35_3501  ANDAMANS                                      ...       3
2012-13_35_3503  MIDDLE AND NORTH ANDAMANS                     ...       3
2012-13_35_3502  NICOBARS                                      ...       3
2012-13_28_2801  ADILABAD                                      ...      52
2012-13_28_2822  ANANTAPUR                                     ...      63

                 clusters  villages  totschools  totpopulation  ...  Rep C7  \
unique_id                                                       ...
2012-13_35_3501        16        83         212       237586.0  ...       7
2012-13_35_3503        13        76         181       105539.0  ...       0
2012-13_35_3502         8        42          58        36819.0  ...       5
2012-13_28_2801       356      1576        4983      2737738.0  ...      47
2012-13_28_2822       564       929        5188      4083315.0  ...      84

                 Rep C8  Muslim P  Muslim Up  Muslim G P  Muslim G Up   Obc P  \
unique_id
2012-13_35_3501       4      2539       1383        1263          690    2289
2012-13_35_3503       0       184        103          98           60    2100
2012-13_35_3502       2        62         34          33           14      17
2012-13_28_2801      49     33747      13901       17216         7520  118300
2012-13_28_2822      72     34185      16310       17082         8465  188353

                 Obc Up  Obc G P Obc G Up
unique_id
2012-13_35_3501    1437     1159      747
2012-13_35_3503    1621     1066      825
2012-13_35_3502       5        6        0
2012-13_28_2801   62602    56425    30725
2012-13_28_2822  100391    90967    50266

[5 rows x 185 columns]

In [ ]:
basic_data['unique_id'] = (basic_data['Year'].astype(str) + "_" +
                             basic_data['Statecd'].astype(str) + "_" +
                             basic_data['distcd'].astype(str))

teacher_indicator['unique_id'] = (teacher_indicator['ac_year'].astype(str) + "_" +
                           teacher_indicator['statecd'].astype(str) + "_" +
                           teacher_indicator['distcd'].astype(str))

# Set the unique identifier as the index
basic_data.set_index('unique_id', inplace=True)
teacher_indicator.set_index('unique_id', inplace=True)

In [ ]:
# Merge the dataframes on the unique identifier
B_merged = basic_data.merge(teacher_indicator, on='unique_id', suffixes=('_basic', '_teacher'))

print("Merged DataFrame for Team B:")
print(B_merged.head())

Merged DataFrame for Team B:
                    Year  Statecd  \
unique_id
2012-13_35_3501  2012-13       35
2012-13_35_3503  2012-13       35
2012-13_35_3502  2012-13       35
2012-13_28_2801  2012-13       28
2012-13_28_2822  2012-13       28

                                                   statename_basic  \
unique_id
2012-13_35_3501  ANDAMAN & NICOBAR ISLANDS                     ...
2012-13_35_3503  ANDAMAN & NICOBAR ISLANDS                     ...
2012-13_35_3502  ANDAMAN & NICOBAR ISLANDS                     ...
2012-13_28_2801  ANDHRA PRADESH                                ...
2012-13_28_2822  ANDHRA PRADESH                                ...

                 distcd_basic  \
unique_id
2012-13_35_3501          3501
2012-13_35_3503          3503
2012-13_35_3502          3502
2012-13_28_2801          2801
2012-13_28_2822          2822

                                                    distname_basic  blocks  \
unique_id
2012-13_35_3501  ANDAMANS                                      ...       3
2012-13_35_3503  MIDDLE AND NORTH ANDAMANS                     ...       3
2012-13_35_3502  NICOBARS                                      ...       3
2012-13_28_2801  ADILABAD                                      ...      52
2012-13_28_2822  ANANTAPUR                                     ...      63

                 clusters  villages  totschools  totpopulation  ...  \
unique_id                                                       ...
2012-13_35_3501        16        83         212       237586.0  ...
2012-13_35_3503        13        76         181       105539.0  ...
2012-13_35_3502         8        42          58        36819.0  ...
2012-13_28_2801       356      1576        4983      2737738.0  ...
2012-13_28_2822       564       929        5188      4083315.0  ...

                 trn_tch_f2  trn_tch_f3  trn_tch_f4  trn_tch_f5  trn_tch_f6  \
unique_id
2012-13_35_3501         176         135           0          22         103
2012-13_35_3503          85          40           3          28          60
2012-13_35_3502          29          23           0          17          46
2012-13_28_2801         267           0           0           0           8
2012-13_28_2822         726           0           0         591           0

                 trn_tch_f7  prof_trn_tch_r prof_trn_tch_p  days_nontch  \
unique_id
2012-13_35_3501           0            2968            228           12
2012-13_35_3503           0            1249            203            8
2012-13_35_3502           0             430             78           20
2012-13_28_2801         248           16419            845           13
2012-13_28_2822           3           21487            676           14

                 tch_nontch
unique_id
2012-13_35_3501         519
2012-13_35_3503         362
2012-13_35_3502          28
2012-13_28_2801         263
2012-13_28_2822        1185

[5 rows x 200 columns]

## Exercise 3 - Data Cleaning (3 Marks)

1.  **Overall_lit** is our target variable. Delete rows with missing overall_lit value

   Hint: Refer to the link [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).


2.  Convert categorical values to numerical values.

  For example, If a feature contains categorical values such as dog, cat, mouse, etc then replace them with 1, 2, 3, etc or use [Sklearn LabelEncoder's](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html)

3. Replace the missing values in any other column appropriately with mean / median / mode.

  Hint: Use pandas [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) function to replace the missing values

In [ ]:
merged_df = A_merged

# Remove rows with missing 'overall_lit' values
A_cleaned_df = merged_df.dropna(subset=['overall_lit'])
A_cleaned_df['overall_lit'].isna().sum() # returns 0 because na are removed from overall_lit

0

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [ ]:
categorical_columns = A_cleaned_df.select_dtypes(include=['object']).columns
# Convert categorical columns to numerical values
for col in categorical_columns:
    A_cleaned_df[col] = label_encoder.fit_transform(A_cleaned_df[col])

In [ ]:
# Fill missing values with mean for numerical columns
for col in A_cleaned_df.select_dtypes(include=['float64', 'int64']).columns:
    A_cleaned_df.loc[:, col] = A_cleaned_df[col].fillna(A_cleaned_df[col].mean())

# Fill missing values with mode for categorical columns
for col in categorical_columns:
    A_cleaned_df.loc[:, col] = A_cleaned_df[col].fillna(A_cleaned_df[col].mode()[0])

print("Team A Cleaned DataFrame:")
print(A_cleaned_df.head())

Team A Cleaned DataFrame:
                 Year_basic  Statecd_basic  statename  distcd_basic  \
unique_id
2012-13_35_3501           0             35          0          3501
2012-13_35_3503           0             35          0          3503
2012-13_35_3502           0             35          0          3502
2012-13_28_2801           0             28          1          2801
2012-13_28_2822           0             28          1          2822

                 distname_basic  blocks  clusters  villages  totschools  \
unique_id
2012-13_35_3501              21       3        16        83         212
2012-13_35_3503             382       3        13        76         181
2012-13_35_3502             422       3         8        42          58
2012-13_28_2801               0      52       356      1576        4983
2012-13_28_2822              19      63       564       929        5188

                 totpopulation  ...  Rep C7  Rep C8  Muslim P  Muslim Up  \
unique_id                       ...
2012-13_35_3501       237586.0  ...       7       4      2539       1383
2012-13_35_3503       105539.0  ...       0       0       184        103
2012-13_35_3502        36819.0  ...       5       2        62         34
2012-13_28_2801      2737738.0  ...      47      49     33747      13901
2012-13_28_2822      4083315.0  ...      84      72     34185      16310

                 Muslim G P  Muslim G Up   Obc P  Obc Up  Obc G P  Obc G Up
unique_id
2012-13_35_3501        1263          690    2289    1437     1159       747
2012-13_35_3503          98           60    2100    1621     1066       825
2012-13_35_3502          33           14      17       5        6         0
2012-13_28_2801       17216         7520  118300   62602    56425     30725
2012-13_28_2822       17082         8465  188353  100391    90967     50266

[5 rows x 185 columns]

In [ ]:
print("verification A:")
print(A_cleaned_df.describe())

verification A:
        Year_basic  Statecd_basic    statename  distcd_basic  distname_basic  \
count  1268.000000    1268.000000  1268.000000   1268.000000     1268.000000
mean      0.500000      17.033123    19.644322   1719.417981      317.660095
std       0.500197       9.417301    11.022421    940.908552      183.820673
min       0.000000       1.000000     0.000000    101.000000        0.000000
25%       0.000000       9.000000    11.000000    928.000000      158.750000
50%       0.500000      18.000000    20.000000   1818.500000      317.500000
75%       1.000000      24.000000    30.000000   2413.000000      477.000000
max       1.000000      35.000000    36.000000   3503.000000      635.000000

            blocks     clusters     villages   totschools  totpopulation  ...  \
count  1268.000000  1268.000000  1268.000000  1268.000000   1.268000e+03  ...
mean     11.115931   128.695584   912.117508  2207.024448   1.899024e+06  ...
std       9.800454   101.642674   634.507493  1450.959478   1.546865e+06  ...
min       1.000000     1.000000     6.000000    31.000000   7.948000e+03  ...
25%       5.750000    60.000000   399.000000  1110.500000   8.222390e+05  ...
50%       8.000000   105.000000   832.000000  2010.500000   1.564392e+06  ...
75%      13.000000   169.000000  1279.000000  2980.250000   2.588039e+06  ...
max      66.000000   680.000000  3987.000000  9581.000000   1.105413e+07  ...

            Rep C7       Rep C8       Muslim P      Muslim Up     Muslim G P  \
count   1268.00000  1268.000000    1268.000000    1268.000000    1268.000000
mean     366.86041   355.851735   29491.387224   12551.256309   14505.053628
std      835.20367   775.124548   50994.845983   22023.784641   25348.411919
min        0.00000     0.000000       0.000000       0.000000       0.000000
25%       14.00000    14.000000    2387.750000    1180.750000    1130.500000
50%      108.00000   105.000000   12775.500000    5744.000000    6211.000000
75%      349.50000   361.500000   35476.750000   15997.250000   17309.750000
max    10688.00000  9269.000000  679326.000000  310154.000000  337420.000000

         Muslim G Up          Obc P         Obc Up        Obc G P  \
count    1268.000000    1268.000000    1268.000000    1268.000000
mean     6457.936120   89530.261830   44562.936909   43486.231073
std     12036.536708   88437.098703   40442.401817   43358.132078
min         0.000000       0.000000       0.000000       0.000000
25%       594.250000   15585.000000    8539.250000    7646.750000
50%      2912.500000   68051.500000   37306.500000   32807.500000
75%      8111.500000  133058.000000   68900.000000   64670.750000
max    176205.000000  527187.000000  229770.000000  257830.000000

            Obc G Up
count    1268.000000
mean    21776.947161
std     19980.878799
min         0.000000
25%      4190.250000
50%     18418.000000
75%     33574.750000
max    111930.000000

[8 rows x 185 columns]

In [ ]:
merged_df = B_merged

# Remove rows with missing 'overall_lit' values
B_cleaned_df = merged_df.dropna(subset=['overall_lit']).copy()
B_cleaned_df['overall_lit'].isna().sum() # returns 0 because na are removed from overall_lit

0

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [ ]:
categorical_columns = B_cleaned_df.select_dtypes(include=['object']).columns
# Convert categorical columns to numerical values
for col in categorical_columns:
    B_cleaned_df[col] = label_encoder.fit_transform(B_cleaned_df[col])

# Fill missing values with mean for numerical columns
for col in B_cleaned_df.select_dtypes(include=['float64', 'int64']).columns:
    B_cleaned_df.loc[:, col] = B_cleaned_df[col].fillna(B_cleaned_df[col].mean())

In [ ]:
print("Team B Cleaned DataFrame:")
print(B_cleaned_df.head())

Team B Cleaned DataFrame:
                 Year  Statecd  statename_basic  distcd_basic  distname_basic  \
unique_id
2012-13_35_3501     0       35                0          3501              21
2012-13_35_3503     0       35                0          3503             382
2012-13_35_3502     0       35                0          3502             422
2012-13_28_2801     0       28                1          2801               0
2012-13_28_2822     0       28                1          2822              19

                 blocks  clusters  villages  totschools  totpopulation  ...  \
unique_id                                                               ...
2012-13_35_3501       3        16        83         212       237586.0  ...
2012-13_35_3503       3        13        76         181       105539.0  ...
2012-13_35_3502       3         8        42          58        36819.0  ...
2012-13_28_2801      52       356      1576        4983      2737738.0  ...
2012-13_28_2822      63       564       929        5188      4083315.0  ...

                 trn_tch_f2  trn_tch_f3  trn_tch_f4  trn_tch_f5  trn_tch_f6  \
unique_id
2012-13_35_3501         176         135           0          22         103
2012-13_35_3503          85          40           3          28          60
2012-13_35_3502          29          23           0          17          46
2012-13_28_2801         267           0           0           0           8
2012-13_28_2822         726           0           0         591           0

                 trn_tch_f7  prof_trn_tch_r  prof_trn_tch_p  days_nontch  \
unique_id
2012-13_35_3501           0            2968             228           12
2012-13_35_3503           0            1249             203            8
2012-13_35_3502           0             430              78           20
2012-13_28_2801         248           16419             845           13
2012-13_28_2822           3           21487             676           14

                 tch_nontch
unique_id
2012-13_35_3501         519
2012-13_35_3503         362
2012-13_35_3502          28
2012-13_28_2801         263
2012-13_28_2822        1185

[5 rows x 200 columns]

In [ ]:
print("Verification Team B:")
print(B_cleaned_df.describe())

Verification Team B:
              Year      Statecd  statename_basic  distcd_basic  \
count  1268.000000  1268.000000      1268.000000   1268.000000
mean      0.500000    17.033123        19.644322   1719.417981
std       0.500197     9.417301        11.022421    940.908552
min       0.000000     1.000000         0.000000    101.000000
25%       0.000000     9.000000        11.000000    928.000000
50%       0.500000    18.000000        20.000000   1818.500000
75%       1.000000    24.000000        30.000000   2413.000000
max       1.000000    35.000000        36.000000   3503.000000

       distname_basic       blocks     clusters     villages   totschools  \
count     1268.000000  1268.000000  1268.000000  1268.000000  1268.000000
mean       317.660095    11.115931   128.695584   912.117508  2207.024448
std        183.820673     9.800454   101.642674   634.507493  1450.959478
min          0.000000     1.000000     1.000000     6.000000    31.000000
25%        158.750000     5.750000    60.000000   399.000000  1110.500000
50%        317.500000     8.000000   105.000000   832.000000  2010.500000
75%        477.000000    13.000000   169.000000  1279.000000  2980.250000
max        635.000000    66.000000   680.000000  3987.000000  9581.000000

       totpopulation  ...   trn_tch_f2   trn_tch_f3   trn_tch_f4   trn_tch_f5  \
count   1.268000e+03  ...  1268.000000  1268.000000  1268.000000  1268.000000
mean    1.899024e+06  ...   436.771293    32.235804    63.839117    85.380915
std     1.546865e+06  ...   890.903608   199.912890   129.254450   216.829102
min     7.948000e+03  ...     0.000000     0.000000     0.000000     0.000000
25%     8.222390e+05  ...     1.000000     0.000000     0.000000     0.000000
50%     1.564392e+06  ...    39.000000     0.000000    10.500000     0.000000
75%     2.588039e+06  ...   415.000000     4.000000    72.500000    29.000000
max     1.105413e+07  ...  9519.000000  3473.000000  1699.000000  1587.000000

        trn_tch_f6   trn_tch_f7  prof_trn_tch_r  prof_trn_tch_p  days_nontch  \
count  1268.000000  1268.000000     1268.000000     1268.000000  1268.000000
mean     18.529968    41.016562     8558.583596      435.862776    17.541009
std      66.282037   108.803490     7122.152154      708.050039    15.431670
min       0.000000     0.000000       16.000000        0.000000     0.000000
25%       0.000000     0.000000     3527.750000        9.750000     9.000000
50%       1.000000     1.000000     6892.500000      155.000000    14.000000
75%      12.000000    27.000000    11281.250000      553.250000    21.000000
max    1007.000000  1283.000000    59292.000000     6195.000000   205.000000

         tch_nontch
count   1268.000000
mean     464.907729
std     1149.245227
min        0.000000
25%       50.000000
50%      147.000000
75%      429.000000
max    17044.000000

[8 rows x 200 columns]

## Exercise 4 - (3 Marks)

1. Remove the unnecessary columns which are not contributing to the overall literacy rate

2. Verify if there are any duplicate columns and remove them.

  For example: state name and district name are the same as state code and district code.

3. Make sure that the final dataframe has no null or nan values. Delete the rows with missing values.

   Hint: Give df.isna() to verify on the nan values in the dataframe.

In [ ]:
A_cleaned_df.reset_index(inplace=True)

Index(['Year_basic', 'Statecd_basic', 'statename', 'distcd_basic', 'blocks',
       'clusters', 'villages', 'totschools', 'totpopulation', 'p_06_pop',
       ...
       'Rep C7', 'Rep C8', 'Muslim P', 'Muslim Up', 'Muslim G P',
       'Muslim G Up', 'Obc P', 'Obc Up', 'Obc G P', 'Obc G Up'],
      dtype='object', length=174)

In [ ]:
columns_to_drop = ['level_0','unique_id','statename_basic', 'distname_basic']
A_cleaned_df = A_cleaned_df.drop(columns=columns_to_drop, errors='ignore')

# Remove duplicate columns
A_cleaned_df_T = A_cleaned_df.T
A_cleaned_df_T = A_cleaned_df_T.drop_duplicates()
A_cleaned_df = A_cleaned_df_T.T

# Ensure no null values
A_cleaned_df = A_cleaned_df.dropna()

print("Final cleaned DataFrame for Team A:")
print(A_cleaned_df.head())

Final cleaned DataFrame for Team A:
  Year_basic Statecd_basic statename distcd_basic blocks clusters villages  \
0          0            35         0         3501      3       16       83
1          0            35         0         3503      3       13       76
2          0            35         0         3502      3        8       42
3          0            28         1         2801     52      356     1576
4          0            28         1         2822     63      564      929

  totschools totpopulation   p_06_pop  ... Rep C7 Rep C8 Muslim P Muslim Up  \
0        212      237586.0   23616.05  ...      7      4     2539      1383
1        181      105539.0   11651.51  ...      0      0      184       103
2         58       36819.0    4226.82  ...      5      2       62        34
3       4983     2737738.0   295675.7  ...     47     49    33747     13901
4       5188     4083315.0  427114.75  ...     84     72    34185     16310

  Muslim G P Muslim G Up   Obc P  Obc Up Obc G P Obc G Up
0       1263         690    2289    1437    1159      747
1         98          60    2100    1621    1066      825
2         33          14      17       5       6        0
3      17216        7520  118300   62602   56425    30725
4      17082        8465  188353  100391   90967    50266

[5 rows x 174 columns]

In [ ]:
B_cleaned_df.reset_index(inplace=True)

In [ ]:
B_cleaned_df

,unique_id,Year,Statecd,statename_basic,distcd_basic,distname_basic,blocks,clusters,villages,totschools,...,trn_tch_f2,trn_tch_f3,trn_tch_f4,trn_tch_f5,trn_tch_f6,trn_tch_f7,prof_trn_tch_r,prof_trn_tch_p,days_nontch,tch_nontch
0,2012-13_35_3501,0,35,0,3501,21,3,16,83,212,...,176,135,0,22,103,0,2968,228,12,519
1,2012-13_35_3503,0,35,0,3503,382,3,13,76,181,...,85,40,3,28,60,0,1249,203,8,362
2,2012-13_35_3502,0,35,0,3502,422,3,8,42,58,...,29,23,0,17,46,0,430,78,20,28
3,2012-13_28_2801,0,28,1,2801,0,52,356,1576,4983,...,267,0,0,0,8,248,16419,845,13,263
4,2012-13_28_2822,0,28,1,2822,19,63,564,929,5188,...,726,0,0,591,0,3,21487,676,14,1185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263,2013-14_19_1919,1,19,36,1919,466,30,59,3974,6624,...,2,0,25,38,0,44,18182,742,17,1615
1264,2013-14_19_1914,1,19,36,1914,470,23,182,1757,4911,...,0,0,6,9,0,12,9173,290,11,878
1265,2013-14_19_1921,1,19,36,1921,536,5,59,360,1305,...,0,0,0,19,0,4,2576,122,13,108
1266,2013-14_19_1918,1,19,36,1918,553,36,348,3742,7110,...,0,0,66,123,1,116,14882,711,21,3591
1267,2013-14_19_1904,1,19,36,1904,605,13,115,1131,3236,...,0,1,36,53,0,14,5561,250,27,2243

In [ ]:
columns_to_drop = ['unique_id','statename_basic', 'distname_basic']
B_cleaned_df = B_cleaned_df.drop(columns=columns_to_drop, errors='ignore')

# Remove duplicate columns
B_cleaned_df_T = B_cleaned_df.T
B_cleaned_df_T = B_cleaned_df_T.drop_duplicates()
B_cleaned_df = B_cleaned_df_T.T

# Ensure no null values
B_cleaned_df = B_cleaned_df.dropna()

print("Final cleaned DataFrame for Team A:")
print(B_cleaned_df.head())

Final cleaned DataFrame for Team A:
   Year  Statecd  distcd_basic  blocks  clusters  villages  totschools  \
0   0.0     35.0        3501.0     3.0      16.0      83.0       212.0
1   0.0     35.0        3503.0     3.0      13.0      76.0       181.0
2   0.0     35.0        3502.0     3.0       8.0      42.0        58.0
3   0.0     28.0        2801.0    52.0     356.0    1576.0      4983.0
4   0.0     28.0        2822.0    63.0     564.0     929.0      5188.0

   totpopulation   p_06_pop  p_urb_pop  ...  trn_tch_f2  trn_tch_f3  \
0       237586.0   23616.05      55.89  ...       176.0       135.0
1       105539.0   11651.51       2.60  ...        85.0        40.0
2        36819.0    4226.82       0.00  ...        29.0        23.0
3      2737738.0  295675.70      27.68  ...       267.0         0.0
4      4083315.0  427114.75      28.09  ...       726.0         0.0

   trn_tch_f4  trn_tch_f5  trn_tch_f6  trn_tch_f7  prof_trn_tch_r  \
0         0.0        22.0       103.0         0.0          2968.0
1         3.0        28.0        60.0         0.0          1249.0
2         0.0        17.0        46.0         0.0           430.0
3         0.0         0.0         8.0       248.0         16419.0
4         0.0       591.0         0.0         3.0         21487.0

   prof_trn_tch_p  days_nontch  tch_nontch
0           228.0         12.0       519.0
1           203.0          8.0       362.0
2            78.0         20.0        28.0
3           845.0         13.0       263.0
4           676.0         14.0      1185.0

[5 rows x 195 columns]

## Exercise 5 - Apply Correlation Matrix (2 Marks)

Correlation is a statistical technique that can show whether and how strongly pairs of variables are related. More number of features does not imply better accuracy. More features may lead to a decline in the accuracy and create noise in the model, if they contain any irrelevant features.

*Features with high correlation value will imply the same meaning. Hence removing the highly correlated features*

**Function Description:**

`remove_Highly_Correlated()` function removes highly correlated features in the dataframe.
- Creates a correlation matrix of row and column wise features
- Extracts only uppertriangular matrix as correlation matrix, which will have the same values below and above the diagonal
- Removes columns which are having correlation value more than the threshold value.

In [ ]:
# Hint:
  # Creates correlation matrix
  # corr = df.corr()

  # Set Up Mask To Hide Upper Triangle
  # mask = np.triu(np.ones_like(corr, dtype=bool))
  # tri_df = corr.mask(mask)

In [ ]:
import numpy as np
import pandas as pd
def remove_Highly_Correlated(df, threshold=0.9):
    # Create correlation matrix
    corr_matrix = df.corr().abs()

    # Extract the upper triangular matrix of the correlation matrix
    upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

    # Find index of features with correlation greater than the threshold
    to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > threshold)]

    # Drop the features
    df_reduced = df.drop(columns=to_drop)

    return df_reduced

In [ ]:
A_final_df = remove_Highly_Correlated(A_cleaned_df, threshold=0.9)

print("DataFrame after removing highly correlated features:")
print(A_final_df.head())

DataFrame after removing highly correlated features:
  Year_basic Statecd_basic statename blocks clusters villages totschools  \
0          0            35         0      3       16       83        212
1          0            35         0      3       13       76        181
2          0            35         0      3        8       42         58
3          0            28         1     52      356     1576       4983
4          0            28         1     63      564      929       5188

  totpopulation p_urb_pop sexratio  ... Enr Med3 2 Enr Med3 3 Enr Med3 4  \
0      237586.0     55.89    874.0  ...        932     1457.0          0
1      105539.0       2.6    925.0  ...       1212      387.0          0
2       36819.0       0.0    778.0  ...          0        0.0          0
3     2737738.0     27.68   1003.0  ...       6750        0.0          0
4     4083315.0     28.09    977.0  ...       3461      119.0        102

  Enr Med3 5 Enr Med3 6 Enr Med3 7 Rep C1 Rep C2 Muslim P   Obc P
0          0      410.0        0.0     61     13     2539    2289
1        567      313.0        0.0      2      3      184    2100
2          0       48.0        0.0      3      4       62      17
3          0      856.0     5876.0      0      6    33747  118300
4       1004        0.0      296.0     27     10    34185  188353

[5 rows x 79 columns]

In [ ]:
B_final_df = remove_Highly_Correlated(B_cleaned_df, threshold=0.9)

print("DataFrame after removing highly correlated features:")
print(B_final_df.head())

DataFrame after removing highly correlated features:
   Year  Statecd  blocks  clusters  villages  totschools  totpopulation  \
0   0.0     35.0     3.0      16.0      83.0       212.0       237586.0
1   0.0     35.0     3.0      13.0      76.0       181.0       105539.0
2   0.0     35.0     3.0       8.0      42.0        58.0        36819.0
3   0.0     28.0    52.0     356.0    1576.0      4983.0      2737738.0
4   0.0     28.0    63.0     564.0     929.0      5188.0      4083315.0

   p_urb_pop  sexratio  sexratio_06  ...  trn_tch_f2  trn_tch_f3  trn_tch_f4  \
0      55.89     874.0        980.0  ...       176.0       135.0         0.0
1       2.60     925.0        975.0  ...        85.0        40.0         3.0
2       0.00     778.0        961.0  ...        29.0        23.0         0.0
3      27.68    1003.0        942.0  ...       267.0         0.0         0.0
4      28.09     977.0        927.0  ...       726.0         0.0         0.0

   trn_tch_f5  trn_tch_f6  trn_tch_f7  prof_trn_tch_r  prof_trn_tch_p  \
0        22.0       103.0         0.0          2968.0           228.0
1        28.0        60.0         0.0          1249.0           203.0
2        17.0        46.0         0.0           430.0            78.0
3         0.0         8.0       248.0         16419.0           845.0
4       591.0         0.0         3.0         21487.0           676.0

   days_nontch  tch_nontch
0         12.0       519.0
1          8.0       362.0
2         20.0        28.0
3         13.0       263.0
4         14.0      1185.0

[5 rows x 173 columns]

## Exercise 6 - (3 Marks)

Perform Mean Correction and Standard Scaling on the data feature/column wise.

**Hint:** In order to understand the idea behind the terms used above, you may refer to the following link:

[StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Assuming final_df_A is the DataFrame after previous steps
def mean_correction_and_standard_scaling(df):
    # Initialize the StandardScaler
    scaler = StandardScaler()

    # Fit the scaler to the dataframe and transform the data
    scaled_data = scaler.fit_transform(df)

    # Convert the scaled data back to a DataFrame
    scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

    return scaled_df

In [ ]:
# Apply the function to the final DataFrame for Team A
scaled_df_A = mean_correction_and_standard_scaling(A_final_df)

print("Final DataFrame for Team A after mean correction and standard scaling:")
print(scaled_df_A.head())

Final DataFrame for Team A after mean correction and standard scaling:
   Year_basic  Statecd_basic  statename    blocks  clusters  villages  \
0        -1.0       1.908611  -1.782918 -0.828445 -1.109180 -1.307226
1        -1.0       1.908611  -1.782918 -0.828445 -1.138707 -1.318262
2        -1.0       1.908611  -1.782918 -0.828445 -1.187918 -1.371868
3        -1.0       1.165005  -1.692158  4.173296  2.237191  1.046709
4        -1.0       1.165005  -1.692158  5.296136  4.284383  0.026618

   totschools  totpopulation  p_urb_pop  sexratio  ...  Enr Med3 2  \
0   -1.375512      -1.074492   1.632431 -1.101203  ...   -0.171649
1   -1.396885      -1.159890  -1.167381 -0.283457  ...   -0.133766
2   -1.481690      -1.204333  -1.303983 -2.640491  ...   -0.297742
3    1.913955       0.542416   0.150301  0.967214  ...    0.615490
4    2.055296       1.412633   0.171842  0.550323  ...    0.170509

   Enr Med3 3  Enr Med3 4  Enr Med3 5  Enr Med3 6  Enr Med3 7    Rep C1  \
0    0.402612   -0.266383   -0.251186   -0.050933   -0.157942 -0.320121
1   -0.102128   -0.266383    0.141779   -0.101369   -0.157942 -0.335246
2   -0.284683   -0.266383   -0.251186   -0.239156   -0.157942 -0.334990
3   -0.284683   -0.266383   -0.251186    0.180965    3.120862 -0.335759
4   -0.228548   -0.078690    0.444646   -0.264114    0.007226 -0.328837

     Rep C2  Muslim P     Obc P
0 -0.470679 -0.528740 -0.986867
1 -0.478323 -0.574939 -0.989005
2 -0.477559 -0.577333 -1.012568
3 -0.476030  0.083485  0.325441
4 -0.472972  0.092077  1.117876

[5 rows x 79 columns]

In [ ]:
# Apply the function to the final DataFrame for Team A
scaled_df_B = mean_correction_and_standard_scaling(B_final_df)

print("Final DataFrame for Team A after mean correction and standard scaling:")
print(scaled_df_B.head())

Final DataFrame for Team A after mean correction and standard scaling:
   Year   Statecd    blocks  clusters  villages  totschools  totpopulation  \
0  -1.0  1.908611 -0.828445 -1.109180 -1.307226   -1.375512      -1.074492
1  -1.0  1.908611 -0.828445 -1.138707 -1.318262   -1.396885      -1.159890
2  -1.0  1.908611 -0.828445 -1.187918 -1.371868   -1.481690      -1.204333
3  -1.0  1.165005  4.173296  2.237191  1.046709    1.913955       0.542416
4  -1.0  1.165005  5.296136  4.284383  0.026618    2.055296       1.412633

   p_urb_pop  sexratio  sexratio_06  ...  trn_tch_f2  trn_tch_f3  trn_tch_f4  \
0   1.632431 -1.101203     1.386910  ...   -0.292820    0.514248   -0.494098
1  -1.167381 -0.283457     1.273576  ...   -0.395004    0.038853   -0.470878
2  -1.303983 -2.640491     0.956238  ...   -0.457886   -0.046217   -0.494098
3   0.150301  0.967214     0.525566  ...   -0.190636   -0.161313   -0.494098
4   0.171842  0.550323     0.185561  ...    0.324775   -0.161313   -0.494098

   trn_tch_f5  trn_tch_f6  trn_tch_f7  prof_trn_tch_r  prof_trn_tch_p  \
0   -0.292423    1.274906   -0.377127       -0.785267       -0.293687
1   -0.264741    0.625907   -0.377127       -1.026722       -0.329009
2   -0.315492    0.414605   -0.377127       -1.141760       -0.505620
3   -0.393926   -0.158929    1.903111        1.104093        0.578065
4    2.332798   -0.279673   -0.349544        1.815956        0.339287

   days_nontch  tch_nontch
0    -0.359209    0.047086
1    -0.618519   -0.089579
2     0.159410   -0.380319
3    -0.294382   -0.175757
4    -0.229554    0.626826

[5 rows x 173 columns]

## Exercise 7 - (3 Marks)

Apply different classifiers on the preprocessed data and figure out which classifier gives the best result.

* Split the data into train and test

* Fit the model with train data and find the accuracy of test data

### Expected Accuracy is above 90%

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
X = A_final_df.drop(columns=['overall_lit'])  # Features
y = A_final_df['overall_lit'].astype(int)  # Target variable

In [ ]:
# Split data into train and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize classifiers
classifiers = {
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(random_state=42),
    "Support Vector Machine": SVC(random_state=42),
    "Gradient Boosting": GradientBoostingClassifier(random_state=42)
}

# Fit models and evaluate accuracy on test set
for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {accuracy:.4f}")

Decision Tree Accuracy: 0.9252
Random Forest Accuracy: 0.9488
Support Vector Machine Accuracy: 0.5472
Gradient Boosting Accuracy: 0.9567

In [ ]:
X = B_final_df.drop(columns=['overall_lit'])  # Features
y = B_final_df['overall_lit'].astype(int)  # Target variable

# Split data into train and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize classifiers
classifiers = {
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(random_state=42),
    "Support Vector Machine": SVC(random_state=42),
    "Gradient Boosting": GradientBoostingClassifier(random_state=42)
}

# Fit models and evaluate accuracy on test set
for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {accuracy:.4f}")

Decision Tree Accuracy: 0.9213
Random Forest Accuracy: 0.9094
Support Vector Machine Accuracy: 0.4331
Gradient Boosting Accuracy: 0.9567